{% extends 'base.html' %}
{% block content%}
<form action = "/accounts/login/" method="POST">
<div class="row">
    <div class="col l4 m4 s12"></div>
    <div class="col l4 m4 s12">
        <div class="card">
            <div class = "card-content">
                <h4 class = "center">Instagram</h4>
                {% csrf_token %}
                <label for="email">Email</label>
                <input placeholder="email" id="email" type="email" class="validate">
                <label for="password">Password</label>
                <input placeholder="password" id="password" type="password" class="validate">
                <br>
                <input type = "submit" value = "login" class = "btn blue" style = "width:100%">
                <input type="hidden" name="next" value="{{next}}">
            </div>
        </div>
        <div class="card">
            <div class = "card-content center">
            <p>Don't have an account? <a href = "/accounts/register">Sign Up</a></p>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}